* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
  color: black;
}
.forms {
  background: linear-gradient(45deg, #c7d4d6 0%, #d6c5e3 100%);
  height: 100vh;
}
.forms-inner {
  display: flex;
  width: 600px;
  height: 100%;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
      font-family: 'Rounded Mplus 1c';
  align-items: center;
  height: 100vh;
  background: linear-gradient(45deg, #c7d4d6 0%, #d6c5e3 100%);
}
.forms-grid{
    display: flex;
    width: 980px;
    height: 574px;
    background: rgb(244, 244, 244);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.login-box {
  width: 50%;
  padding: 30px;
}
.login-box h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 40px;
  cursor: pointer;
}
.login-box p{
  font-size: 16px;
  text-align: center;
  margin-bottom: 10px;
}
input {
  width: 100%;
  padding: 10px;
 margin: 20px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid black;
  transition: 0.3s all ease-in-out;
  background-color: transparent;
  color:#141c24;
  font-size: 14px;

}
::placeholder{
  color:black;
  font-size: 15px;
}
input:hover{
  border-color:rgb(157, 83, 236);
  background-color: transparent;
  transition: 0.3s all ease-in-out;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.signup-box {
    width: 50%;
    background: purple;
    color: white;
    text-align: center;
    padding: 80px 20px;
    border-top-left-radius: 130px;
    border-bottom-left-radius: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.signup-box h3 {
  margin-bottom: 20px;
  font-size: 40px;
}
.signup-box p {
  margin-bottom: 20px;
  opacity: 0.7;
  line-height: 29px;
  font-size: 17px;
}
.signup-box img{
  max-width: 400px;
  margin-top: 30px;
}
.signup-box a {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    max-width: 180px;
    padding: 16px 58px;
    border-radius: 10px;
}
.icons a {
  display: inline-flex;
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 40px;
  margin: 10px;
  /* background-color: transparent; */
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
   background-size: 100% 200%;
  background-position: 0% 5%;
  transition: background-position 0.5s, color 0.5s;
}

.icons a:nth-child(1) {
  color: #1976d3;
  background-image: linear-gradient(#fff 50%, #1976d3 50%);
}

.icons a:nth-child(2) {
  color: #db6f44;
  background-image: linear-gradient(#fff 50%, #db6f44 50%);
}

.icons a:nth-child(3) {
  color: #000;
  background-image: linear-gradient(#fff 50%, #000 50%);
}

.icons a:nth-child(4) {
  color: #03a9f5;
  background-image: linear-gradient(#fff 50%, #03a9f5 50%);
}
.icons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.icons a:hover {
  background-position: 0% 100%;
  color: #fff;
}
.btn-primary{
  background-color: purple;
  color: white;
  max-width: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  padding: 17px 0;
  font-size: 18px;
}


@media (max-width:670px) {
  .forms-grid{
     display: flex;
     flex-direction: column;
     height: 100%;
     overflow: auto;
  }
  .login-box {
    width: 100%;
    padding: 30px;
}
.signup-box {
    width: 100%;

    border-top-left-radius:0;
    border-bottom-left-radius:0;

}
}