* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scroll-snap-align: smooth;
}
.relative {
  position: relative;
}
ul {
  padding-left: inherit;
}
:root {
  --theme-color: #515a68;
  --theme-white: #fff;
  --theme-green: #bde0d3;
  --theme-black: #000;
  --light-gray: #d3d3d3;
  --gray: #f8f8f8;
  --dark: #2c3646;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}
img {
  display: block;
}
body {
  font-family: "Rounded Mplus 1c";
}
a {
  text-decoration: none;
  display: inline-block;
  color: var(--theme-color);
}
li {
  list-style: none;
}
::-webkit-scrollbar {
  width: 5px;
}
.d-none {
  display: none;
}
::-webkit-scrollbar-thumb {
  width: 5px;
  background-color: #aaaaaa;
  border-radius: 5px;
}

.d-flex {
  display: flex;
}
::selection {
  background-color: var(--theme-green);
  color: var(--theme-black);
}

/* BANNER */

.banner {
  height: 100%;
  width: 100%;
  position: relataive;
}
.banner-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}

.banner-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  opacity: 0.4;
}
.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: auto;
  transform: translate(-50%);
}
.banner-content h1 {
  color: var(--theme-white);
  font-weight: 500;
  font-size: 56px;
  transition: 0.3s all ease-in-out;
}
.banner-content p {
  font-size: 20px;
  color: var(--theme-white);
  font-weight: 200;
  padding: 10px 0;
}
.swiper {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner-img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: relative;
  overflow: hidden;
}
.swiper-pagination-bullet {
  width: 2px;
  height: 35px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #bfbfbf;
  opacity: 52;
  background: rgb(166 150 150);
}
.swiper-pagination-bullet-active {
  color: #fa1f1f !important;
  background: var(--theme-white);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom:45%;
  top: 50%;
  left: auto;
  right: 0;
  align-items: flex-end;
  gap: 10px;
  padding-right: 40px;
 height: 2;
 width: 10px;
}
.swiper-horizontal > .swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal {
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom:inherit!important;
    align-items: flex-end;
    gap: 10px;
    padding-right: 40px;
}
.heros-btn a:first-child{
  margin-right: 20px;
}
.heros-btn{
  margin-top: 40px;
}
/* BANNER ENDS--------------------------- */

/* TWO-COL-SECTION */

section.two-col-section {
  margin-top: -90px;
  position: relative;
  padding-bottom: 90px;
  z-index: 1;
}
.two-img-section {
  position: relative;
  overflow: hidden;
}
.two-img-section img {
  object-fit: cover;
  width: 100%;
  display: block;
}
.two-col-inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
.two-col-img {
  position: relative;
  overflow: hidden;
  z-index: 0;
  transition: 0.3s all ease-in-out;
}
.two-col-img:hover {
  transform: scale(1.1);
  transition: 0.3s all ease-in-out;
}
.two-col-img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    0deg,
    hsl(0deg 0% 1%) 0%,
    hsl(15deg 0% 0%) 50%,
    hsl(44deg 1% 6%) 63%,
    hsl(14deg 2% 17%) 72%,
    hsl(8deg 3% 55%) 81%,
    hsl(0deg 3% 4%) 99%
  );
  opacity: 0.4;
}
.two-col-content {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 20px;
}
.two-col-content h2 {
  color: var(--theme-white);
  font-size: 30px;
  font-weight: 400;
  padding-bottom: 21px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.two-col-content .sub-heading {
  color: var(--theme-white);
  font-weight: 300;
  font-size: 12px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.heading .aero {
  width: 30px;
  height: 30px;
  padding: 10px;
  background-color: var(--theme-green);
  border-radius: 50%;
  transition: 0.3s all ease-in-out;
}
.heading a {
  display: inline-flex;
  gap: 10px;
}

/* TWO-COL-SECTION ENDS--------------------------------- */

/* OUR-STORY-START */

.our_inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: space-between;
  /* gap: 40px; */
  margin-top: 70px;
}
.our_left_section {
  align-self: center;
  flex: 1;
  padding-right: 20px;
}
.our_left_section_heading {
  font-size: 14px;
  color: #2c3646;
  font-weight: 300;
}
.our_left_heading {
  margin-top: 15px;
  color: var(--theme-color);
  font-weight: 500;
  font-size: 40px;
  font-family: "Rounded Mplus 1c";
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

.our_right_section {
  position: absolute;
  right: 0;
  top: 0;
  width: 50%;
  height: 100%;
  max-height: auto;
  color: #2c3646;
  /* margin-top: 60px; */
  overflow: hidden;
}
.our_right_section img {
  width: 100%;
  height: 100%;
  transition: 0.3s all ease-in-out;
}
.our-story {
  position: relative;
  /* padding: 13px 0 0 0; */
}
.our_left_section_para {
  color: #2c3646;
  font-size: 16px;
  font-weight: 300;
  max-width: 500px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
  margin-top: 25px;
  line-height: 30px;
  margin-bottom: 30px;
}
.images-right {
  height: 608px;
}

/* OUR-STORY-SECTION-ENDS---------------------- */

/* THE-PROCESS START--------------- */

.the-process-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  text-align: center;
  padding: 90px 0 0 0;
}

section.the-pro {
  text-align: center;
  padding: 70px 0;
}
.the-titlee p {
  max-width: 600px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}
.num {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--theme-color);
  color: var(--theme-white);
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 40px;
}
.process-items {
  text-align: center;
  margin: auto;
}
.process-img {
  background-color: #bde0d3;
  display: block;
  border-radius: 50%;
  width: 250px;
  height: 250px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
}
.the-content-process h3 {
  font-size: 26px;
  font-weight: 500;
  padding-top: 41px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.the-content-process p {
  font-size: 14px;
  max-width: 250px !important;
  text-align: center !important;
  line-height: 30px;
  font-weight: 300;
  margin: auto;
  color: var(--theme-color);
}

/* THE-PROCESS ENDS------------------- */

/* SLIDER FEEDBACK */
.swiper {
  width: 100%;
  height: 100%;
}

.feedback-section {
  background-color: var(--theme-color);
  background-size: cover;
  padding: 50px 0;
  position: relative;
    border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;

  }
.qoutes-img {
  position: absolute;
  top: -20%;
  right: 25%;
  z-index: 999;
  /* background-color: pink; */
}
.qoutes-img img {
  width: 345px;
  height: 1220px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content-swiper h4 {
  color: whitesmoke;
  font-weight: 300;
  padding: 20px 0;
  font-size: 14px;
}
.content-swiper h3 {
  color: whitesmoke;
  font-weight: 400;
  padding: 20px 0;
  font-size: 33px;
  max-width: 800px;
  font-family: "Rounded Mplus 1c";
  cursor: pointer;
}
.content-swiper h5 {
  color: whitesmoke;
  font-weight: 300;
  padding: 20px 0;
  word-spacing: 10px;
  letter-spacing: 1;
  font-size: 14px;
}
.swiper-pagination-bullet {
  width: 2px;
  height: 35px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: red;
  opacity: 1;
  background: rgb(255 255 255 / 57%);
  border-radius: 0;
}
.swiper-pagination-bullet-active {
  color: var(--theme-white);
  background: var(--theme-white);
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom:0;
  align-items: flex-end;
  gap: 10px;
  padding-right: 40px;
  width: max-content;
}

.swiper {
  position: relative;
}

/* SERVICES---------*/

.services {
  background-color: var(--theme-white);
}
.services-content {
  background-color: transparent;
  padding: 10px;
}
.services-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr)!important;
  gap: 20px;
}
.services-titlee {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
  margin-bottom: 70px;
}
.services-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services-titlee h2 {
  font-size: 40px;
  color: var(--theme-color);
  font-weight: 500;
  white-space: nowrap;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.services-img {
  overflow: hidden;
}
.services-img img {
  transition: 0.3s all ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}

.services-content h4 {
  font-size: 12px;
  color: var(--light-gray);
  font-weight: 300;
}
.services-content h3 {
  font-size: 28px;
  font-weight: 500;
  padding-bottom: 20px;
  color: var(--theme-color);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.services-content p {
  font-size: 14px;
  color: var(--light-gray);
  font-weight: 300;
  line-height: 30px;
}
.services-content a {
  background-color: var(--theme-green);
  padding: 10px;
  border-radius: 50%;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
  display: inline-block;
}
.services-content a {
  display: inline-flex;
  align-items: center;
}
.services-content a {
  background-color: var(--icon-backgroung-color);
  border: 1px solid var(--border-color);
  transition: 0.3s all ease-in-out;
}

.services-items {
  --img-scale: 1.1;
  --border-color: transparent;
  --icon-backgroung-color: var(--theme-green);
  --title-color: var(--theme-color);
  --link-icon-translate: 0;
  --link-icon-opacity: 0;
  position: relative;
}
.tabs-items {
  --img-scale: 1.1;
  --border-color: transparent;
  --icon-backgroung-color: var(--theme-green);
  --title-color: var(--theme-color);
  --link-icon-translate: 0;
  --link-icon-opacity: 0;
  position: relative;
}
.services-content h3 {
  transition: 0.3s all ease-in-out;
  color: var(--title-color);
}
/* SERVICES CSS ENDS-------- */

/* ALL LOGOS CSS-------- */

.logos {
  padding: 20px 0;
  width: 100%;
  box-sizing: border-box;
  font-weight: 200;
  display: box;
  display: flex;
  background: var(--theme-white);
  align-items: center;
  overflow: hidden;
  margin-bottom: -30px;
  /* padding: 58px 0; */
}
.logos-content {
  display: box;
  display: flex;
  animation: marquee 10s linear infinite running;
}

.logo-tag {
  width: 300px;
  margin: 0 0.5em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translate(-50%);
  }
}

/* ALL-LOGOS CSS ENDS-------------*/

/* 2.  WHO ARE WE PAGE CSS---------- */

/* BANNER CSS----------- */

.who-banner {
  position: relative;
}
.who-banner .banner-contents {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 20%;
  justify-content: center;
}
.banner-contents h4 {
  color: var(--theme-white);
  font-weight: 300;
  font-size: 12px;
}
.banner-contents h1 {
  color: var(--theme-white);
  font-weight: 500;
  font-size: 70px;
  padding: 10px 0;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.banner-contents p {
  max-width: 641px;
  color: var(--theme-white);
  font-weight: 200;
  line-height: 30px;
  font-size: 16px;
}

.scroll-indicator {
  position: absolute;
  right: 56px;
  bottom: 0;
  /* transform: translateY(-50%); */
  display: flex;
  align-items: center;
  flex-direction: column;
}

.scroll-text {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 12px;
  font-weight: 300;
  color: white;
  letter-spacing: 2px;
}

.scroll-line {
  width: 2px;
  height: 50px;
  background-color: white;
  margin-top: 5px;
}

/* BANNER CSSS ENDS-------------- */

/* BEGAN CSS START------- */

.began {
  padding: 90px 0;
}
.began-title h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--theme-color);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.began-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
}
.began-content p {
  font-size: 16px;
  color: var(--theme-color);
  line-height: 37px;
  font-weight: 400;
  padding-top: 30px;
}

/* BEGAN CSS ENDS--------- */

/* WHO-TWO-COL-SECTION----- */

.who-two-col-section {
  padding: 90px 0;
}
.two-col-sections {
  background-color: var(--theme-white);
}
.two-col-sections img {
  transform: scale(1.1);
  transition: 0.3s all ease-in-out;
}
.services-card {
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;
  background-color: var(--gray);
  padding: 80px 0;
  margin-top: 190px;
}
/* .services-card .services-items{
    box-shadow: inherit;
    padding: 0;
} */
.services-card .services-content h4 {
  color: var(--dark);
  font-size: 13px;
  font-weight: 300;
}
.services-card .services-content h3 {
  padding: 0;
}
.services-card .services-content p {
  color: var(--dark);
  margin-top: 6px;
  font-size: 14px;
  font-weight: 300;
  padding: 0;
}

/* TEAM-POPUP-PAGE CSS----------- */

.header-list a {
  display: flex;
  align-items: center;
  color: var(--theme-black);
}

/* CARDS CSS-------- */

/* Clickable Image */
.team img {
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
}

#mask {
  display: none;
  position: fixed;
  z-index: 100;
  background: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 100%;
}

.model {
  position: fixed;
  top: -350px;
  z-index: 101;
  width: 400px;
  padding: 0px;
  color: #404040;
  text-align: left;
}

.model .constraint {
  background: #fff;
  padding: 50px;
}

/* Styles for the Codepen */

/* SERVICES */

/* .services{
   margin: 50px 0;
} */
.services-inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.services-img img {
  border-radius: 5px 5px 0 0;
  width: 100%;
  display: block;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}
.services-img {
  overflow: hidden;
}
.services-title {
  margin: 20px 0 50px 0;
}
.services-title h4 {
  color: #2c3646;
  font-weight: 600;
  font-size: 37px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.ri-arrow-right-line {
  background-color: #bde0d3;
  padding: 10px;
  border-radius: 50%;
  color: #000;
  border: 1px solid transparent;
  transition: 0.3s all ease-in-out;
}
.services-content h4 {
  color: #2c3646;
  font-weight: 200;
  margin: 9px 0;
}
.services-content h5 {
  color: #2c3646;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 9px;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.services-heading {
  flex-grow: 1;
  text-align: left;
}
.services-title a {
  flex-shrink: 0;
}
.services-content p {
  color: rgba(44, 54, 70, 1);
  font-weight: 300;
  line-height: 1.9;
  margin-bottom: 10px;
}
.services-content img {
  padding: 10px;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s all ease-in-out;
}

/* Modal Styling */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  justify-content: center;
  align-items: center;
}
/* Modal Content */
.modal-content {
  background: white;
  width: 60%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  position: relative;
}
/* Close Button */
.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
/* Modal Image */
.modal-body {
  display: flex;
  align-items: center;
}
.modal-image {
  width: 200px;
  border-radius: 10px;
  margin-right: 20px;
}
.modal-text {
  flex-grow: 1;
}
.services {
  padding: 50px 0;
}
.team-items {
  box-shadow: 8px 8px 24px -14px rgb(189, 189, 192);
}
.services-content h4 {
  color: #515a68;
  font-weight: 200;
  font-size: 15px;
}
.team-content h2 {
  color: black;
  font-weight: 600;
  font-size: 23px;
  padding: 10px 0;
}
.services-content p {
  color: gray;
  font-weight: 300;
  line-height: 30px;
  word-spacing: 2px;
  padding-bottom: 10px;
}
.ri-arrow-right-line {
  background-color: #bde0d3;
  padding: 10px;
  border-radius: 50%;
  color: black;
  margin: 19px 0 0 0;
}

.model-inner-on {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.model-img-on {
  width: 100%;
  height: 100%;
}
.model-content-on h5 {
  color: #2c3646;
  font-weight: 200;
  font-size: 13px;
}
.model-content-on p {
  color: #404040;
  font-weight: 300;
}
.modal {
  display: none;
  position: absolute;
  top: 40%;
  left: 0;
  right: 0;
  width: 700px;
  height: 240px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.modal-close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  /* height: 100%; */
  background-color: rgba(0, 0, 0, 0.3);
}
.model-content-on {
  padding: 10px 0;
}

/* TESTIMONIAL CSS------------ */

.hero {
  background-color: var(--theme-green);
  padding: 50px 0;
  border-bottom-left-radius: 50% 20px;
  border-bottom-right-radius: 50% 20px;
  z-index: -1;
  position: relative;
  color: var(--theme-black);
}
.navmenus a {
  color: var(--dark);
}
.navmenus .btn-primary {
  border: 1px solid black;
}
/* .btn-primary::before {
  background-color: var(--theme-green);
} */
.shape {
  position: absolute;
  z-index: 999;
  top: 0;
  right: 0;
  background-attachment: fixed;
  pointer-events: none;
}
.title-heros {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 116px 0 0 0;
}
b {
  font-size: 50px;
  color: var(--dark);
  transition: 0.3s all ease-in-out;
  cursor: pointer !important;
  padding-bottom: 28px;
}

.title-heros p {
  padding-bottom: 63px;
  max-width: 570px;
  font-size: 16px;
  font-weight: 300;
  color: var(--dark);
}
.heros-items {
  background-color: var(--theme-white);
  padding: 50px;
  border-radius: 38px;
  display: flex;
  margin: 43px 0;
  align-items: center;
}
.heros-img {
  position: relative;
}
.heros-img img {
  display: flex;
  justify-content: space-between;
}

.heros-content {
  padding-left: 80px;
}
.heros-content h1 {
  font-size: 32px;
  color: var(--theme-color);
  font-weight: 500;
  max-width: 840px;
  text-align: left;
  margin: auto;
  padding-bottom: 10px;
  position: relative;
  line-height: 34px;
  cursor: pointer;
}

.heros-content h4 {
  font-weight: 100;
  font-size: 12px;
}
.sub-img {
  position: absolute;
  bottom: -150px;
  right: -3%;
}

/* LEARN ------ */

.learn-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.learn {
  background-color: var(--gray);
  padding: 116px 0 40px 0;
  margin: 50px 0 0 0;
  border-top-left-radius: 50% 20px;
  border-top-right-radius: 50% 20px;
  margin-bottom: -35px;
  padding-bottom: 89px;
}
.learn-title {
  padding-bottom: 130px;
}
.learn h2 {
  font-size: 36px;
  color: var(--dark);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  padding-bottom: 15px;
}
.learn p {
  font-size: 15px;
  max-width: 441px;
  text-align: center;
  color: var(--dark);
  padding-bottom: 29px;
  font-weight: 300;
}

/* TESTIMONIAL PAGE CSS ENDS----------- */

/* PRIVACY-PAGE CSS---------- */
.heros-itemss {
  display: flex;
  align-items: center;
  background-color: var(--theme-white);
 margin: 40px 0;
  padding: 50px;
  border-radius: 25px;
}
.heros-left-section {
  position: fixed;
  top: 150px;
  left: 240px;
}
.heros-right-section {
  max-width: 900px;
}

/* NEWS-PAGE--------- */

.banner-contentss {
  position: absolute;
  top: 0;
  left: 10%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--theme-green);
  padding: 50px;
  border-radius: 10px;
  margin: 250px 0;

}
.banner-contentss p {
  max-width: 395px;
  font-size: 15px;
  color: var(--dark);
  padding-bottom: 17px;
  font-weight: 300;
}
.banner-contentss h4 {
  font-size: 12px;
  color: var(--theme-color);
  font-weight: 300;
  padding-bottom: 9px;
}
.banner-contentss h2 {
  font-size: 33px;
  max-width: 310px;
  color: var(--theme-black);
  padding-bottom: 22px;
  font-weight: 500;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}

/* NEWS & ARTICLES--- */

.news-articles {
  padding: 70px 0;
}
.news-title h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 500;
}
.listing-news li a {
  color: var(--theme-black);
  font-size: 14px;
  padding-right: 41px;
  padding-top: 36px;
}
.listing-news ul {
  display: flex;
  align-items: center;
}
.listing-news li:first-child a {
  color: var(--theme-color);
  font-weight: 500;
}
.listing-news li:nth-child(2) a,
.listing-news li:nth-child(3) a,
.listing-news li:nth-child(4) a,
.listing-news li:nth-child(5) a {
  color: var(--light-gray);
}
.inner-news {
  display: grid;
  grid-template-columns: repeat(3, 1fr) !important;
}
.gallery-wrap,
#gallery {
  overflow: hidden;
}

#filters {
  margin: 1%;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#filters li {
  float: left;
}

#filters li span {
  display: block;
  padding: 5px 20px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
  text-transform: uppercase;
  transition: all ease-in-out 0.25s;
}

.btn {
  position: relative;
  z-index: -1;
}

#filters li span.active {
  background: #1fbae7;
  color: #fff;
}

.gallery-item {
  float: left;
  width: 33.333%;
  padding: 10px;
  position: relative;
  z-index: 10;
  display: none;
}

.inside {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.details,
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.details {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: all 0.3s ease-in-out;
}
.details h2 {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: center;
  margin: 0;
}
.details p {
  color: #fff;
  font-size: 1em;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}

.inside img {
  float: left;
  width: 100%;
}

.overlay {
  background: rgba(31, 186, 231, 0.8);
  z-index: 1;
  transition: all 0.7s ease-in-out;
}

/* CONTACT-PAGE CSS---------- */

.direction {
  padding-top: 165px;
}
.title-direction {
  display: flex;
  justify-content: center;
}
.title-direction h1 {
  font-size: 50px;
  font-weight: 500;
  color: var(--dark);
  padding-top: 20px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.direction-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 90px;
  margin-top: 40px;
}
.form-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.direction-content {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.direction-content a svg {
  color: var(--theme-color);
  width: 100px;
}
.direction-content a {
  background-color: var(--theme-green);
  width: 100px;
  height: 100px;
  line-height: 100px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  text-align: center;
}
.direction-content h3 {
  padding-top: 25px;
  font-size: 22px;
  color: var(--theme-color);
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.direction-content h3:nth-child(2) {
  max-width: 200px;
}
.direct {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 47px;
  text-decoration: underline;
  color: var(--theme-color);
  font-weight: 300;
  font-size: 12px;
}
.form-title h2 {
  display: flex;
  justify-content: center;
  font-size: 35px;
  color: var(--dark);
  padding-top: 46px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  font-weight: 400;
}
.form-title .btn {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 40px;
}
.form-title a {
  display: inline-block;
}

form .rows-form input {
  border-radius: inherit;
}
form {
  padding-top: 40px;
}
.form-itemss input {
  border-radius: inherit;
  border-radius: 10px;
  margin-bottom: 20px;
}
.rows-form {
  width: 100%;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
textarea {
  resize: none;
}
form textarea,
input {
  background-color: var(--gray);
  border: none;
  outline: none;
  padding: 15px 99px 16px 10px;
  width: 100%;
  border-radius: 10px;
}
/* .sum-btn {
  display: flex;
  justify-content: center;
  margin-top: 28px;
  margin-bottom: 90px;
} */
button {
  cursor: pointer;
}
.the-proces {
  padding: 70px 0;
}
.the-proces .the-title-sub {
  text-align: center;
  color: var(--theme-color);
  margin-bottom: 20px;
}
.the-proces p {
  max-width: 600px;
  margin: auto;
  text-align: center;
  margin-top: 20px;
}
.Group-img {
  position: fixed;
  top: 0;
  z-index: -1;
  /* height:900px; */
  right: 0;
  opacity: 0.4;
}

/* POLICY-PAGE CSS---------- */

.policy-left-section a:first-child h3 {
  margin-bottom: 21px;
  border-left: 2px solid black;
  display: inline-block;
  padding-left: 10px;
  font-weight: 400;
}
.policy-left-section a:last-child h3 {
  opacity: 1;
  padding-left: 10px;
  color: var(--light-gray);
  font-weight: 400;
  border-left: 2px solid transparent;
  transition: 0.3s all ease-in-out;
}
.privacy-policy-section {
  scroll-margin-top: 156px;
  margin-top: 111px;
}
.privacy-policy-section h2 {
  font-size: 40px;
  color: var(--dark);
  font-weight: 500;
  cursor: pointer;
  padding-top: 40px;
}
.privacy-policy-section p {
  font-size: 16px;
  line-height: 31px;
  color: var(--theme-color);
  font-weight: 400;
  max-width: 810px;
  margin-top: 30px;
}
.privacy-policy-section h4 {
  font-size: 30px;
  padding-top: 42px;
  padding-bottom: 17px;
  font-weight: 500;
}
.policy-inner {
  display: flex;
  justify-content: space-around;
}
.policy-left-section {
  position: sticky;
  display: flex;
  flex-direction: column;
  top: 200px;
  left: 30px;
  max-width: 300px;
  height: 200px;
}
.privacy-policy-section {
  scroll-margin-top: 156px;
}
.border {
  border-top: 2px solid var(--theme-color);
  margin-top: 90px;
  padding-top: 30px;
}
.circle-img {
  position: fixed;
  top: 0;
  right: 0;
  pointer-events: none;
}
.privacy-policy-section h3 {
  padding-top: 35px;
  padding-bottom: 25px;
  font-size: 32px;
  font-weight: 500;
}
#policy1 .btn-sucsess {
  margin-top: 30px;
}
.news-img {
  margin-top: 35px;
  overflow: hidden;
  border-radius: 10px;
}
.news-img img {
  transition: 0.3s all ease-in-out;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.page-loader {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: #272727;
  z-index: 9999;
}
.page-loader .txt {
  color: #666;
  text-align: center;
  top: 40%;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  font-weight: bold;
  line-height: 1.5;
}
/* SPINNER ANIMATION */
.spinner {
  position: relative;
  top: 35%;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}
@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.group-img {
  position: relative;
}
.shape-imgs {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  z-index: -1;
  pointer-events: none;
}
.news-art-title h2 {
  font-size: 40px;
  font-weight: 500;
  color: var(--theme-color);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  margin-top: 73px;
  text-align: left !important;
  display: flex;
  align-items: flex-start;
}
.tabs {
  background-color: var(--secondary);
  border-radius: 30px 30px 0px 0px;
  position: relative;
}
.tabs-inner {
  padding-top: 65px;
  padding-bottom: 65px;
}
.tab-content {
  background-color: var(--theme-green);
  display: inline-flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.tabs-top-section {
  background-color: var(--secondary);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
  padding-left: 39px;
  padding-right: 39px;
  border-radius: 15px;
  white-space: nowrap;
  gap: 20px;
  max-width: 750px;
}
.tabs-top-section:first-child a {
  color: var(--theme-black);
}
.tabs-top-section-a {
  font-size: 16px;
  font-weight: 600;
  line-height: 68px;
  opacity: 35%;
  padding: 0 20px;
}
.tabs-top-section-a.active {
  opacity: 100%;
}
.tabs-card img {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  object-fit: cover;
  position: relative;
  transition: 0.3s all ease-in-out;
  overflow: hidden;
}
/* .tabs-card {
    overflow: hidden;
        transition: 0.3s all ease-in-out;
}
.tabs-card img:hover{
    filter: blur(1px);
    transition: 0.3s all ease-in-out;
} */
.tabs-card-text {
  padding-block: 20px;
  padding-right: 25px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  text-align: left;
}
.tabs-para {
  color: var(--theme-color);
  font-size: 27px;
  opacity: 34%;
  font-size: 12px;
  font-weight: 400;
}
.tabs-heading {
  color: var(--theme-black);
  font-size: 23px;
  font-weight: 500;
  line-height: 28px;
  padding-top: 7px;
  padding-bottom: 11px;
}
.tabs-bottom-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 50px;
}
.tabs-card {
  flex-direction: column;
}
.tabs-card-text p {
  font-size: 14px;
  color: var(--theme-color);
  font-weight: 300;
  line-height: 30px;
}

.news-open {
  position: relative;
  z-index: 1;
}
.policy-section {
  position: static;
  margin-top: 50px;
  top: 40px;
  width: 300px;
  height: 20px;
  padding: 10px;
}
.insights {
  position: relative;
  z-index: 1;
}
.insights::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background-image: url("../images/icons/Subtraction\ 1.svg");
  width: 100%;
  height: 100%;
  max-width: 310px;
  max-height: 535px;
  background-repeat: no-repeat;
  object-fit: contain;
}
.insights-left-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}
.insights-left-iconss {
  display: flex;
  align-items: center;
  gap: 10px;
}
.insights-left-icons-a {
  background-color: var(--theme-green);
  color: var(--theme-white);
  border-radius: 50px;
  padding: 10px;
  transition: all 0.3s ease;
}
.insights-left-icons-a svg {
  max-width: 20px;
  max-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.insights-backtoall {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 61px;
  font-weight: 600;
  color: var(--primary);
  opacity: 40%;
  white-space: nowrap;
}
.insights-sharethis {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 61px;
  font-weight: 600;
  color: var(--primary);
  opacity: 40%;
  margin-top: 400px;
}
.insights-sharethisis {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 61px;
  font-weight: 600;
  color: var(--primary);
  opacity: 40%;
  margin-top: 20px;
}
.insights-left-section {
  display: flex
  flex-direction: column;
  gap: 15px;
  padding: 30px;
  height: 300px;
  /* width: 25%; */
  position: static;
  margin-right: 30px;
}
.insights-inner {
  display: flex;
  align-items: baseline;
  margin-bottom: 130px;
}
.bronze-text {
  font-size: 40px;
  font-weight: 500;
  letter-spacing: -0.54px;
  line-height: 64px;
  color: var(--theme-color);
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  margin-bottom: 24px;
}
.bronze-text strong {
  color: var(--primary);
}
.bronze-para {
  font-size: 15px;
  font-weight: 300;
  line-height: 31px;
  max-width: 770px;
  color: var(--dark);
  margin-top: 20px;
}

.bronze-img img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transition: 0.3s all ease-in-out;
}
.bronze-img {
  margin-top: 50px;
  border-radius: 10px;
  overflow: hidden;
}
.lorem-text {
  font-size: 30px;
  font-weight: 400;
  color: var(--theme-black);
  margin-top: 50px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.lorem-para {
  font-size: 15px;
  font-weight: 300;
  color: var(--dark);
  max-width: 800px;
  line-height: 31px;
  margin-top: 20px;
  margin-bottom: 30px;
}
.lorem-paras {
  font-size: 15px;
  font-weight: 300;
  color: var(--dark);
  line-height: 31px;
  margin-top: 20px;
}
.insights-sections {
  margin: 0;
}

.insights-right-section {
  margin-top: 165px;
}

.style-17 {
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
}
.style-17 .link__graphic {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  width: 100%;
}
.style-17 .link__graphic--scribble {
  top: 100%;
}
.style-17 .link__graphic--scribble path {
  transition: stroke-dashoffset 0.6s;
}
.style-17 .link__graphic--stroke path {
  stroke-dasharray: 1;
  stroke-dashoffset: 1;
}
.the-proces,
.logos {
  background-color: var(--theme-white);
  /* z-index: 1; */
  position: relative;
  padding: 70px 0;
}
.buttonss {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  font-size: 14px;
}
